<head>
  <title>Home - News Maikli</title>
</head>

<div class="jumbotron text-center ">
  <h1 class="display-3">Welcome to News Maikli!</h1>
  <p class="lead">This is a simple news site which will keep you up-to date with the current news. Also has categories
    which you can pick.</p>
  <hr class="my-2">
  <p>Click the below button and get ready to see what's happening around the world.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/news/" role="button">Latest News</a>
  </p>
</div>
